
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* Space out content a bit */
body {
  padding-top: 0px;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  color: white;
  padding-bottom: 60px;
  font-weight: 100;
  text-transform: uppercase;
}

h1 strong{
  font-weight: 800
}

.red{
  color: #eb6467
}


.home{
  background-image: url("../img/bg.png");
  height: 800px;
  background-size: 100% 100%;
  font-family: 'Open Sans', sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.about{
  height: 100vh;
  background-color: #fff;

}

.page-default-container{
  padding-top: 60px;
  padding-bottom: 40px;
}

.video{
  height: 900px;
  background-color: #a6cb6f;
}



.centered{
  margin-left: auto;
  margin-right: auto;
  position: relative;

}

.home-col-1{
  width: 50%;
  float:left;
}

.m-t-40{
  margin-top: 40px;
}

.m-b-40{
  margin-bottom: 40px;
}


.botao-play:hover{
  background-color: rgba(1,1,1,0.2);
}

.slogan{
  margin-bottom: 30px;
  margin-top: 100px;
}

.slogan h3{
  color: white;
  font-size: 45px;
}

.p-t-30{
  padding-top: 30px;
}

.mao{
  float: left;
}
nav a{
  color: white;
  font-family: 'Open Sans', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1030px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;

}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}





.home-r .slogan{
  text-align: center;
  font-size: 40px;
  color: white;
  font-weight: 800;
}

h3{
  font-size: 14px;
}


.footer{
  background-color: #273f43;
  height: auto;
}

.footer p{
  color: #a3a3a3;
}

/*midia*/

.midia{
  min-height: 600px;
  background-color: #ecf0f1;
  padding-top: 80px;
}

.midia-item{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.midia-item:hover{
  background-color: rgba(1,1,1,0.6);
}

.midia h2{
  padding-top: 10px;
  font-weight: 800;
  font-size: 20px;
}

.midia h3{
  font-weight: 800;
  font-size: 14px;
}

.p-b-30{
  padding-bottom: 30px;
}


.download{
  background-color: #eb6467;
  padding-top: 80px;
  height: 400px;
  position: relative;

}

.download h1{
  color: white;
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
}



.download-r{
  background-color: #eb6467;
  padding-top: 80px;
  min-height: 400px;
  
}

.download-r h1{
  color: white;
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
  text-align: center;
}



.hand {
  position: absolute;
  bottom: 0px; /* half of image height */
  right: 60px; /* right space */
}
.hand img {
  display: block;
  width: 800px;
  height: auto;
  
}

#service{ padding: 96px 0px;}
#service .block-top{text-align: center;}
#service .service-header{margin: 0px}
#service .service-header h1{color:#636C6C; font-size: 36px; font-family: 'Raleway', sans-serif; font-weight: 700; }
#service .service-header p{color:#AFB8B8; font-size: 16px; font-family: 'Raleway', sans-serif; font-weight: 400; line-height: 24px}


.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}